@font-face {
  font-family: 'D-Din-Condensed';
  src: url('/fonts/d-dincondensed.woff2') format('woff2');
  font-weight: 400;
  font-style: condensed;
}

@font-face {
   font-family: 'D-Din-Bold';
  src: url('/fonts/d-dincondensed-bold.woff2') format('woff2');
  font-weight: 900;
  font-style: bold;
}

:root {
  font-family: 'D-Din-Condensed', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 95vh;

  max-width: 95vw;
}


@media (prefers-color-scheme: light) {
  :root {
    color: rgb(53, 53, 53);
    background-color: rgb(255, 255, 255);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(53, 53, 53);
  }
}
